/**
 * The buttons should only be a base style
 *  any real production button should preferably be built on top of / replacing these. 
 */

// Buttons
//
// Better buttons
//
// Styleguide Button

// Sizes
//
// Markup:
// <button class="button button--xs bg-yellow border-black">Sample button</button>
// <button class="button button--sm bg-green">Sample button</button>
// <button class="button button--md bg-red">Sample button</button>
// <button class="button button--lg bg-blue underline-black">Sample button</button>
// <button class="button button--xl bg-white border-black">Sample button</button>
//
//
// Styleguide Button.sizes
.button {
    @extend .no-select;
    @extend .clickable;
    display: inline-block;
    padding: 12px 16px;
    border: none;
    border-radius: 0px;

    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}
.button--xs {
    padding: 4px;
}
.button--sm {
    padding: 8px 10px;
}
.button--md {

}
.button--lg {
    padding: 16px 32px;
}
.button--xl {
    padding: 24px 64px;
}

// Styles
//
// Markup:
// <button class="button button--box bg-green">Sample button</button>
// <button class="button button--curve bg-green">Sample button</button>
// <button class="button button--pill bg-blue">Sample button</button>
// <button class="button button--round button--hover bg-red white w64 h64 t4">Big</button>
//
//
// Styleguide Button.styles
.button--box {
    border-radius: 0px;
}
.button--curve {
    border-radius: 8px;
}
.button--pill {
    border-radius: 20px;
}
.button--round {
    @extend .flex-center;
    border-radius: 50%;
}

// Effect
//
// Markup:
// <button class="button button--fade bg-green">Sample button</button>
// <button class="button button--darken darken--light bg-green">Sample button</button>
// <button class="button button--press button--curve bg-green">Sample button</button>
//
//
// Styleguide Button.Effects
.button--fade {
    transition: 0.2s;
    &:hover {
        opacity: 0.8;
    }
}
.button--darken {
    transition: 0.2s;
    &:hover {
        @extend .bg-darken;
    }
}
.button--press {
    --button-shadow-color: color(black);
    box-shadow: 0 3px var(--button-shadow-color);
    &:hover {
        box-shadow: 0 2px var(--button-shadow-color);
        transform: translateY(1px);
    }
    &:active {
        box-shadow: 0 0px var(--button-shadow-color);
        transform: translateY(3px);
    }
}