// Background-colors
//
// Use this class to change the background color
//
// Markup:
// <div class="bg-red p16">Red div</div>
// <div class="bg-white p16">White div</div>
// <div class="bg-blue p16">Blue div</div>
// <div class="bg-purple p16">Purple div<div class="bg-shaded p4">Shaded div</div></div>
// <div class="bg-blue bg-darken p16">Darkened Blue div</div>
// <div class="bg-blue bg-lighten p16">Lightend Blue div</div>
//
//
// Styleguide Colors.background

// Font-colors
//
// Use this class to change the font color
//
// Markup:
// <h1 class="red">Red text</h1>
// <h1 class="purple">Purple text</h1>
//
//
// Styleguide Colors.font

// Border-colors
//
// Use this class to add a (colored) border
//
// Markup:
// <h1 class="underline-red">Red text</h1>
// <h1 class="upperline-purple underline black">Purple text</h1>
//
//
// Styleguide Colors.border
@each $colorName, $colorValue in $colors {
    .#{$colorName} {
        color: $colorValue;
    }
    .bg-#{$colorName} {
        background-color: $colorValue;
    }
    .underline-#{$colorName} {
        border-bottom: 1px solid rgba($colorValue, 0.3);
    }
    .upperline-#{$colorName} {
        border-top: 1px solid rgba($colorValue, 0.3);
    }
    .border-#{$colorName} {
        border: 1px solid $colorValue;
    }
}
/* defaults */
.underline {
    border-bottom: 1px solid rgba(color(white), 0.3);
}
.upperline {
    border-top: 1px solid rgba(color(white), 0.3);
}

/* other bg-tricks */
.bg-shaded {
    background-color: rgba(0,0,0,0.25);
}
.bg-darken {
    position: relative;
    &:after {
        content: '\A';
        position: absolute;
        width: 100%;
        height:100%;
        top:0;
        left:0;
        background:rgba(0,0,0,0.5);
    }
}

.bg-lighten {
    position: relative;
    &:after {
        content: '\A';
        position: absolute;
        width: 100%;
        height:100%;
        top:0;
        left:0;
        background:rgba(255,255,255,0.5);
    }
}
