@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400|Raleway:100,300,400');


// Prettier font-families
//
// Use these classes to get prettier fonts
//
// Markup:
// <h2>This is an example of a regular title</h2>
// <h2 class="title">This is an example of a prettier title</h2>
// <p>This is an example of a regular paragraph</p>
// <p class="text">This is an example of a prettier paragraph</p>
//
// Styleguide Fonts.families
.title {
  font-family: "Montserrat";
}
.text {
  font-family: "Raleway";
}

// Quick fontsizes
//
// Use this class to get a smaller font
//
// Markup:
// <p>Text that holds <span class="smaller">some smaller text</span> inside of it</p>
// <p>Text that holds <span class="bigger">some bigger text</span> inside of it</p>
//
// Styleguide Fonts.sizequick
.smaller {
  @extend .s1;
}
.bigger {
  @extend .t4; 
}

// Relative fontsizes
//
// Use these classes to quicky change the fontsize <br/>
// <ul>
//  <li>.t1 - largest font</li>
//  <li>.t2 - second largest font</li>
//  <li>.t4 - fourth largest font</li>
//  <li>.s1 - first font smaller than normal</li>
//  <li>.s2 - second font smaller than normal</li>
// </ul>
//
// Markup:
// <div>
//  <p class="t1">This is a font size</p>
//  <p class="t2">This is a font size</p>
//  <p class="t4">This is a font size</p>
//  <p class="s1">This is a font size</p>
//  <p class="s2">This is a font size</p>
// </div>
//
//
// Styleguide Fonts.size

// Source: http://type-scale.com/
.t1 {
  font-size: 3.998em !important;
}
.t2 {
  font-size: 2.827em !important;
}
.t3 {
  font-size: 1.999em !important;
}
.t4 {
  font-size: 1.414em !important;
}
.s1 {
  font-size: 0.707em !important;
}
.s2 {
  font-size: 0.5em !important;
}
.s3 {
  font-size: 0.354em !important;
}

// Font effects
//
// Use these classes to add font effects
//
// Markup:
// <p class="text">Text that holds <span class="thin">very thin text</span> inside of it</p>
// <p class="text">Text that holds <span class="light">Quite thin text</span> inside of it</p>
// <p class="text">Text that holds <span class="note">Some sort of note</span> inside of it</span></p>
//
// Styleguide Fonts.effects
.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.note {
  font-size: 0.6em;
  font-style: italic;
}