// Clickable links
//
// Use this class to make elements appear clickable
//
// Markup:
// <div class="bg-red w32 h32 clickable"></div>
// <p class="link">This is a regular paragraph</p>
//
//
// Styleguide Misc.clickable
.clickable {
    cursor: pointer;
}
.link {
    display: inline-block;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    &:hover {
        border-bottom: 1px solid color(blue);
    }
}


// Not-allowed
//
// Use this class to make interaction with elements not-allowed
//
// Markup:
// <div class="bg-red w32 h32 not-allowed"></div>
// <p class="not-allowed">This is a regular paragraph</p>
//
//
// Styleguide Misc.noclick
.not-allowed {
    cursor: not-allowed;
}

// Not selectable
//
// Use this class to make elements non selectable (press CTRL+A and you'll notice)
//
// Markup:
// <p class="no-select">This is a regular paragraph</p>
//
//
// Styleguide Misc.noselect
.no-select {
    user-select: none;
    outline: none;
}
