/**
   * Used to retrieve color from dictionary
   *  Example: color(turq) -> returns: #1abc9c
   */
/**
   * Used to retrieve color from dictionary
   *  Example: color(turq) -> returns: #1abc9c
   */
/**
 * The buttons should only be a base style
 *  any real production button should preferably be built on top of / replacing these. 
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400|Raleway:100,300,400");
.button {
  display: inline-block;
  padding: 12px 16px;
  border: none;
  border-radius: 0px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px; }

.button--xs {
  padding: 4px; }

.button--sm {
  padding: 8px 10px; }

.button--lg {
  padding: 16px 32px; }

.button--xl {
  padding: 24px 64px; }

.button--box {
  border-radius: 0px; }

.button--curve {
  border-radius: 8px; }

.button--pill {
  border-radius: 20px; }

.button--round {
  border-radius: 50%; }

.button--fade {
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .button--fade:hover {
    opacity: 0.8; }

.button--darken {
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.button--press {
  --button-shadow-color: #34495e;
  -webkit-box-shadow: 0 3px var(--button-shadow-color);
          box-shadow: 0 3px var(--button-shadow-color); }
  .button--press:hover {
    -webkit-box-shadow: 0 2px var(--button-shadow-color);
            box-shadow: 0 2px var(--button-shadow-color);
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }
  .button--press:active {
    -webkit-box-shadow: 0 0px var(--button-shadow-color);
            box-shadow: 0 0px var(--button-shadow-color);
    -webkit-transform: translateY(3px);
            transform: translateY(3px); }

.table {
  border-spacing: 0px;
  border-collapse: collapse; }
  .table td, .table th {
    padding: 16px; }

.table--striped.striped__odd--turq tr:nth-child(odd) {
  background-color: #1abc9c; }

.table--striped.striped__even--turq tr:nth-child(even) {
  background-color: #1abc9c; }

.table--striped.striped__odd--green tr:nth-child(odd) {
  background-color: #2ecc71; }

.table--striped.striped__even--green tr:nth-child(even) {
  background-color: #2ecc71; }

.table--striped.striped__odd--blue tr:nth-child(odd) {
  background-color: #3498db; }

.table--striped.striped__even--blue tr:nth-child(even) {
  background-color: #3498db; }

.table--striped.striped__odd--purple tr:nth-child(odd) {
  background-color: #9b59b6; }

.table--striped.striped__even--purple tr:nth-child(even) {
  background-color: #9b59b6; }

.table--striped.striped__odd--black tr:nth-child(odd) {
  background-color: #34495e; }

.table--striped.striped__even--black tr:nth-child(even) {
  background-color: #34495e; }

.table--striped.striped__odd--yellow tr:nth-child(odd) {
  background-color: #f1c40f; }

.table--striped.striped__even--yellow tr:nth-child(even) {
  background-color: #f1c40f; }

.table--striped.striped__odd--orange tr:nth-child(odd) {
  background-color: #e67e22; }

.table--striped.striped__even--orange tr:nth-child(even) {
  background-color: #e67e22; }

.table--striped.striped__odd--red tr:nth-child(odd) {
  background-color: #e74c3c; }

.table--striped.striped__even--red tr:nth-child(even) {
  background-color: #e74c3c; }

.table--striped.striped__odd--white tr:nth-child(odd) {
  background-color: #ecf0f1; }

.table--striped.striped__even--white tr:nth-child(even) {
  background-color: #ecf0f1; }

.table--striped.striped__odd--gray tr:nth-child(odd) {
  background-color: #95a5a6; }

.table--striped.striped__even--gray tr:nth-child(even) {
  background-color: #95a5a6; }

.table--striped.striped__odd--blank tr:nth-child(odd) {
  background-color: white; }

.table--striped.striped__even--blank tr:nth-child(even) {
  background-color: white; }

.table--striped.striped__odd--eee tr:nth-child(odd) {
  background-color: #eee; }

.table--striped.striped__even--eee tr:nth-child(even) {
  background-color: #eee; }

.table--bordered th, .table--bordered td {
  border: 1px solid black; }

.table--bordered.bordered--turq th, .table--bordered.bordered--turq td {
  border-color: #1abc9c; }

.table--bordered.bordered--green th, .table--bordered.bordered--green td {
  border-color: #2ecc71; }

.table--bordered.bordered--blue th, .table--bordered.bordered--blue td {
  border-color: #3498db; }

.table--bordered.bordered--purple th, .table--bordered.bordered--purple td {
  border-color: #9b59b6; }

.table--bordered.bordered--black th, .table--bordered.bordered--black td {
  border-color: #34495e; }

.table--bordered.bordered--yellow th, .table--bordered.bordered--yellow td {
  border-color: #f1c40f; }

.table--bordered.bordered--orange th, .table--bordered.bordered--orange td {
  border-color: #e67e22; }

.table--bordered.bordered--red th, .table--bordered.bordered--red td {
  border-color: #e74c3c; }

.table--bordered.bordered--white th, .table--bordered.bordered--white td {
  border-color: #ecf0f1; }

.table--bordered.bordered--gray th, .table--bordered.bordered--gray td {
  border-color: #95a5a6; }

.table--bordered.bordered--blank th, .table--bordered.bordered--blank td {
  border-color: white; }

.table--bordered.bordered--eee th, .table--bordered.bordered--eee td {
  border-color: #eee; }

.table--bordered.bordered--vertical th, .table--bordered.bordered--vertical td {
  border-left-width: 0px;
  border-right-width: 0px; }

.title {
  font-family: "Montserrat"; }

.text {
  font-family: "Raleway"; }

.t1 {
  font-size: 3.998em !important; }

.t2 {
  font-size: 2.827em !important; }

.t3 {
  font-size: 1.999em !important; }

.t4, .bigger {
  font-size: 1.414em !important; }

.s1, .smaller {
  font-size: 0.707em !important; }

.s2 {
  font-size: 0.5em !important; }

.s3 {
  font-size: 0.354em !important; }

.thin {
  font-weight: 100; }

.light {
  font-weight: 300; }

.note {
  font-size: 0.6em;
  font-style: italic; }

/* https://responsivedesign.is/develop/getting-started-with-sass-and-breakpoint-mixin/ */
.container {
  width: 100%; }
  @media (min-width: 48em) {
    .container {
      width: 800px; } }
  @media (min-width: 64em) {
    .container {
      width: 1000px; } }
  @media (min-width: 75em) {
    .container {
      width: 1200px; } }

.container--small {
  max-width: 800px; }

.container--medium {
  max-width: 1000px; }

.hide-xs,
.hide-xs-only {
  display: none; }
  @media (min-width: 48em) {
    .hide-xs,
    .hide-xs-only {
      display: inherit; } }

.hide-sm {
  display: none; }
  @media (min-width: 64em) {
    .hide-sm {
      display: inherit; } }

.hide-md {
  display: none; }
  @media (min-width: 75em) {
    .hide-md {
      display: inherit; } }

@media (min-width: 48em) {
  .hide-sm-only {
    display: none; } }

@media (min-width: 64em) {
  .hide-sm-only {
    display: inherit; } }

@media (min-width: 64em) {
  .hide-md-only {
    display: none; } }

@media (min-width: 75em) {
  .hide-md-only {
    display: inherit; } }

.hide-lg-only {
  display: block; }
  @media (min-width: 75em) {
    .hide-lg-only {
      display: none; } }

@media (min-width: 48em) {
  .show-xs {
    display: none; } }

@media (min-width: 64em) {
  .show-sm {
    display: none; } }

@media (min-width: 75em) {
  .show-md {
    display: none; } }

@media (min-width: 48em) {
  .show-xs-only {
    display: none; } }

.show-sm-only {
  display: none; }
  @media (min-width: 48em) {
    .show-sm-only {
      display: inherit; } }
  @media (min-width: 64em) {
    .show-sm-only {
      display: none; } }

.show-md-only {
  display: none; }
  @media (min-width: 64em) {
    .show-md-only {
      display: inherit; } }
  @media (min-width: 75em) {
    .show-md-only {
      display: none; } }

.show-lg-only {
  display: none; }
  @media (min-width: 75em) {
    .show-lg-only {
      display: inherit; } }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.hidden {
  display: none; }

.border-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.absolute--fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.b0 {
  bottom: 0px; }

.t0 {
  top: 0px; }

.r0 {
  right: 0px; }

.l0 {
  left: 0px; }

.b4 {
  bottom: 4px; }

.t4, .bigger {
  top: 4px; }

.r4 {
  right: 4px; }

.l4 {
  left: 4px; }

.b8 {
  bottom: 8px; }

.t8 {
  top: 8px; }

.r8 {
  right: 8px; }

.l8 {
  left: 8px; }

.b16 {
  bottom: 16px; }

.t16 {
  top: 16px; }

.r16 {
  right: 16px; }

.l16 {
  left: 16px; }

.b32 {
  bottom: 32px; }

.t32 {
  top: 32px; }

.r32 {
  right: 32px; }

.l32 {
  left: 32px; }

.b64 {
  bottom: 64px; }

.t64 {
  top: 64px; }

.r64 {
  right: 64px; }

.l64 {
  left: 64px; }

.b128 {
  bottom: 128px; }

.t128 {
  top: 128px; }

.r128 {
  right: 128px; }

.l128 {
  left: 128px; }

.b256 {
  bottom: 256px; }

.t256 {
  top: 256px; }

.r256 {
  right: 256px; }

.l256 {
  left: 256px; }

.b512 {
  bottom: 512px; }

.t512 {
  top: 512px; }

.r512 {
  right: 512px; }

.l512 {
  left: 512px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.m-auto {
  margin: auto; }

.m0-auto {
  margin: 0 auto; }

.center {
  text-align: center; }

.flex-center, .button--round {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-start {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.flex-end {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

/* low priorities */
/* margin & padding */
.m0 {
  margin: 0px; }

.p0 {
  padding: 0px; }

/* width & height */
.w0 {
  width: 0px; }

.h0 {
  height: 0px; }

/* margin & padding */
.m4 {
  margin: 4px; }

.p4 {
  padding: 4px; }

/* width & height */
.w4 {
  width: 4px; }

.h4 {
  height: 4px; }

/* margin & padding */
.m8 {
  margin: 8px; }

.p8 {
  padding: 8px; }

/* width & height */
.w8 {
  width: 8px; }

.h8 {
  height: 8px; }

/* margin & padding */
.m16 {
  margin: 16px; }

.p16 {
  padding: 16px; }

/* width & height */
.w16 {
  width: 16px; }

.h16 {
  height: 16px; }

/* margin & padding */
.m32 {
  margin: 32px; }

.p32 {
  padding: 32px; }

/* width & height */
.w32 {
  width: 32px; }

.h32 {
  height: 32px; }

/* margin & padding */
.m64 {
  margin: 64px; }

.p64 {
  padding: 64px; }

/* width & height */
.w64 {
  width: 64px; }

.h64 {
  height: 64px; }

/* margin & padding */
.m100 {
  margin: 100px; }

.p100 {
  padding: 100px; }

/* width & height */
.w100 {
  width: 100px; }

.h100 {
  height: 100px; }

/* margin & padding */
.m128 {
  margin: 128px; }

.p128 {
  padding: 128px; }

/* width & height */
.w128 {
  width: 128px; }

.h128 {
  height: 128px; }

/* margin & padding */
.m200 {
  margin: 200px; }

.p200 {
  padding: 200px; }

/* width & height */
.w200 {
  width: 200px; }

.h200 {
  height: 200px; }

/* margin & padding */
.m250 {
  margin: 250px; }

.p250 {
  padding: 250px; }

/* width & height */
.w250 {
  width: 250px; }

.h250 {
  height: 250px; }

/* margin & padding */
.m256 {
  margin: 256px; }

.p256 {
  padding: 256px; }

/* width & height */
.w256 {
  width: 256px; }

.h256 {
  height: 256px; }

/* margin & padding */
.m512 {
  margin: 512px; }

.p512 {
  padding: 512px; }

/* width & height */
.w512 {
  width: 512px; }

.h512 {
  height: 512px; }

/* higher priorities */
.mt0 {
  margin-top: 0px; }

.mb0 {
  margin-bottom: 0px; }

.ml0 {
  margin-left: 0px; }

.mr0 {
  margin-right: 0px; }

.pl0 {
  padding-left: 0px; }

.pr0 {
  padding-right: 0px; }

.pt0 {
  padding-top: 0px; }

.pb0 {
  padding-bottom: 0px; }

.mt4 {
  margin-top: 4px; }

.mb4 {
  margin-bottom: 4px; }

.ml4 {
  margin-left: 4px; }

.mr4 {
  margin-right: 4px; }

.pl4 {
  padding-left: 4px; }

.pr4 {
  padding-right: 4px; }

.pt4 {
  padding-top: 4px; }

.pb4 {
  padding-bottom: 4px; }

.mt8 {
  margin-top: 8px; }

.mb8 {
  margin-bottom: 8px; }

.ml8 {
  margin-left: 8px; }

.mr8 {
  margin-right: 8px; }

.pl8 {
  padding-left: 8px; }

.pr8 {
  padding-right: 8px; }

.pt8 {
  padding-top: 8px; }

.pb8 {
  padding-bottom: 8px; }

.mt16 {
  margin-top: 16px; }

.mb16 {
  margin-bottom: 16px; }

.ml16 {
  margin-left: 16px; }

.mr16 {
  margin-right: 16px; }

.pl16 {
  padding-left: 16px; }

.pr16 {
  padding-right: 16px; }

.pt16 {
  padding-top: 16px; }

.pb16 {
  padding-bottom: 16px; }

.mt32 {
  margin-top: 32px; }

.mb32 {
  margin-bottom: 32px; }

.ml32 {
  margin-left: 32px; }

.mr32 {
  margin-right: 32px; }

.pl32 {
  padding-left: 32px; }

.pr32 {
  padding-right: 32px; }

.pt32 {
  padding-top: 32px; }

.pb32 {
  padding-bottom: 32px; }

.mt64 {
  margin-top: 64px; }

.mb64 {
  margin-bottom: 64px; }

.ml64 {
  margin-left: 64px; }

.mr64 {
  margin-right: 64px; }

.pl64 {
  padding-left: 64px; }

.pr64 {
  padding-right: 64px; }

.pt64 {
  padding-top: 64px; }

.pb64 {
  padding-bottom: 64px; }

.mt100 {
  margin-top: 100px; }

.mb100 {
  margin-bottom: 100px; }

.ml100 {
  margin-left: 100px; }

.mr100 {
  margin-right: 100px; }

.pl100 {
  padding-left: 100px; }

.pr100 {
  padding-right: 100px; }

.pt100 {
  padding-top: 100px; }

.pb100 {
  padding-bottom: 100px; }

.mt128 {
  margin-top: 128px; }

.mb128 {
  margin-bottom: 128px; }

.ml128 {
  margin-left: 128px; }

.mr128 {
  margin-right: 128px; }

.pl128 {
  padding-left: 128px; }

.pr128 {
  padding-right: 128px; }

.pt128 {
  padding-top: 128px; }

.pb128 {
  padding-bottom: 128px; }

.mt200 {
  margin-top: 200px; }

.mb200 {
  margin-bottom: 200px; }

.ml200 {
  margin-left: 200px; }

.mr200 {
  margin-right: 200px; }

.pl200 {
  padding-left: 200px; }

.pr200 {
  padding-right: 200px; }

.pt200 {
  padding-top: 200px; }

.pb200 {
  padding-bottom: 200px; }

.mt250 {
  margin-top: 250px; }

.mb250 {
  margin-bottom: 250px; }

.ml250 {
  margin-left: 250px; }

.mr250 {
  margin-right: 250px; }

.pl250 {
  padding-left: 250px; }

.pr250 {
  padding-right: 250px; }

.pt250 {
  padding-top: 250px; }

.pb250 {
  padding-bottom: 250px; }

.mt256 {
  margin-top: 256px; }

.mb256 {
  margin-bottom: 256px; }

.ml256 {
  margin-left: 256px; }

.mr256 {
  margin-right: 256px; }

.pl256 {
  padding-left: 256px; }

.pr256 {
  padding-right: 256px; }

.pt256 {
  padding-top: 256px; }

.pb256 {
  padding-bottom: 256px; }

.mt512 {
  margin-top: 512px; }

.mb512 {
  margin-bottom: 512px; }

.ml512 {
  margin-left: 512px; }

.mr512 {
  margin-right: 512px; }

.pl512 {
  padding-left: 512px; }

.pr512 {
  padding-right: 512px; }

.pt512 {
  padding-top: 512px; }

.pb512 {
  padding-bottom: 512px; }

.full-width, .wp100 {
  width: 100%; }

.full-height, .hp100 {
  height: 100%; }

.clickable, .button {
  cursor: pointer; }

.link {
  display: inline-block;
  border-bottom: 1px solid transparent;
  cursor: pointer; }
  .link:hover {
    border-bottom: 1px solid #3498db; }

.not-allowed {
  cursor: not-allowed; }

.no-select, .button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none; }

.turq {
  color: #1abc9c; }

.bg-turq {
  background-color: #1abc9c; }

.underline-turq {
  border-bottom: 1px solid rgba(26, 188, 156, 0.3); }

.upperline-turq {
  border-top: 1px solid rgba(26, 188, 156, 0.3); }

.border-turq {
  border: 1px solid #1abc9c; }

.green {
  color: #2ecc71; }

.bg-green {
  background-color: #2ecc71; }

.underline-green {
  border-bottom: 1px solid rgba(46, 204, 113, 0.3); }

.upperline-green {
  border-top: 1px solid rgba(46, 204, 113, 0.3); }

.border-green {
  border: 1px solid #2ecc71; }

.blue {
  color: #3498db; }

.bg-blue {
  background-color: #3498db; }

.underline-blue {
  border-bottom: 1px solid rgba(52, 152, 219, 0.3); }

.upperline-blue {
  border-top: 1px solid rgba(52, 152, 219, 0.3); }

.border-blue {
  border: 1px solid #3498db; }

.purple {
  color: #9b59b6; }

.bg-purple {
  background-color: #9b59b6; }

.underline-purple {
  border-bottom: 1px solid rgba(155, 89, 182, 0.3); }

.upperline-purple {
  border-top: 1px solid rgba(155, 89, 182, 0.3); }

.border-purple {
  border: 1px solid #9b59b6; }

.black {
  color: #34495e; }

.bg-black {
  background-color: #34495e; }

.underline-black {
  border-bottom: 1px solid rgba(52, 73, 94, 0.3); }

.upperline-black {
  border-top: 1px solid rgba(52, 73, 94, 0.3); }

.border-black {
  border: 1px solid #34495e; }

.yellow {
  color: #f1c40f; }

.bg-yellow {
  background-color: #f1c40f; }

.underline-yellow {
  border-bottom: 1px solid rgba(241, 196, 15, 0.3); }

.upperline-yellow {
  border-top: 1px solid rgba(241, 196, 15, 0.3); }

.border-yellow {
  border: 1px solid #f1c40f; }

.orange {
  color: #e67e22; }

.bg-orange {
  background-color: #e67e22; }

.underline-orange {
  border-bottom: 1px solid rgba(230, 126, 34, 0.3); }

.upperline-orange {
  border-top: 1px solid rgba(230, 126, 34, 0.3); }

.border-orange {
  border: 1px solid #e67e22; }

.red {
  color: #e74c3c; }

.bg-red {
  background-color: #e74c3c; }

.underline-red {
  border-bottom: 1px solid rgba(231, 76, 60, 0.3); }

.upperline-red {
  border-top: 1px solid rgba(231, 76, 60, 0.3); }

.border-red {
  border: 1px solid #e74c3c; }

.white {
  color: #ecf0f1; }

.bg-white {
  background-color: #ecf0f1; }

.underline-white {
  border-bottom: 1px solid rgba(236, 240, 241, 0.3); }

.upperline-white {
  border-top: 1px solid rgba(236, 240, 241, 0.3); }

.border-white {
  border: 1px solid #ecf0f1; }

.gray {
  color: #95a5a6; }

.bg-gray {
  background-color: #95a5a6; }

.underline-gray {
  border-bottom: 1px solid rgba(149, 165, 166, 0.3); }

.upperline-gray {
  border-top: 1px solid rgba(149, 165, 166, 0.3); }

.border-gray {
  border: 1px solid #95a5a6; }

.blank {
  color: white; }

.bg-blank {
  background-color: white; }

.underline-blank {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.upperline-blank {
  border-top: 1px solid rgba(255, 255, 255, 0.3); }

.border-blank {
  border: 1px solid white; }

.eee {
  color: #eee; }

.bg-eee, .table--striped tr:nth-child(odd) {
  background-color: #eee; }

.underline-eee {
  border-bottom: 1px solid rgba(238, 238, 238, 0.3); }

.upperline-eee {
  border-top: 1px solid rgba(238, 238, 238, 0.3); }

.border-eee {
  border: 1px solid #eee; }

/* defaults */
.underline {
  border-bottom: 1px solid rgba(236, 240, 241, 0.3); }

.upperline {
  border-top: 1px solid rgba(236, 240, 241, 0.3); }

/* other bg-tricks */
.bg-shaded {
  background-color: rgba(0, 0, 0, 0.25); }

.bg-darken, .button--darken:hover {
  position: relative; }
  .bg-darken:after, .button--darken:hover:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); }
  .bg-darken.darken--light:after, .darken--light.button--darken:hover:after {
    background: rgba(0, 0, 0, 0.25); }

.bg-lighten {
  position: relative; }
  .bg-lighten:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5); }

.grad-turq {
  background: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-grad-turq {
  background: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%); }

.grad-green {
  background: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-grad-green {
  background: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%); }

.grad-blue {
  background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-grad-blue {
  background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%); }

.grad-purple {
  background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-grad-purple {
  background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%); }

.grad-black {
  background: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#537895));
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-grad-black {
  background: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#537895));
  background: linear-gradient(to top, #09203f 0%, #537895 100%); }

.grad-yellow {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-grad-yellow {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%); }

.grad-orange {
  background: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-grad-orange {
  background: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%); }

.grad-red {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#ffb199));
  background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-grad-red {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#ffb199));
  background: linear-gradient(to top, #ff0844 0%, #ffb199 100%); }

.grad-white {
  background: -webkit-gradient(linear, left bottom, left top, from(#d5d4d0), color-stop(1%, #d5d4d0), color-stop(31%, #eeeeec), color-stop(75%, #efeeec), to(#e9e9e7));
  background: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-grad-white {
  background: -webkit-gradient(linear, left bottom, left top, from(#d5d4d0), color-stop(1%, #d5d4d0), color-stop(31%, #eeeeec), color-stop(75%, #efeeec), to(#e9e9e7));
  background: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%); }

.grad-gray {
  background: -webkit-gradient(linear, left top, right top, from(#868f96), to(#596164));
  background: linear-gradient(to right, #868f96 0%, #596164 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-grad-gray {
  background: -webkit-gradient(linear, left top, right top, from(#868f96), to(#596164));
  background: linear-gradient(to right, #868f96 0%, #596164 100%); }

.grad-blank {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-grad-blank {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }

.grad-eee {
  background: -webkit-gradient(linear, left bottom, left top, from(#e6e9f0), to(#eef1f5));
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-grad-eee {
  background: -webkit-gradient(linear, left bottom, left top, from(#e6e9f0), to(#eef1f5));
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); }
