@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400|Raleway:100,300,400');


// Font families
//
// <ul>
// <li>.title: sets a Montserrat font</li>
// <li>.text: sets a Raleway font</li>
// </ul>
//
// Markup:
// <h2>This is an example of a regular title</h2>
// <p>This is an example of a regular paragraph</p>
// <h2 class="title">This is an example of a prettier title</h2>
// <p class="text">This is an example of a prettier paragraph</p>
//
// Styleguide Fonts.afamilies
.title {
  font-family: "Montserrat";
}
.text {
  font-family: "Raleway";
}

// Relative fontsizes
//
// Use these classes to quicky change the fontsize <br/>
// <ul>
//  <li>.tb5, .th0 - largest font</li>
//  <li>.tb4, .th1 - second largest font</li>
//  <li>.tb2, .th3 - fourth largest font</li>
//  <li>.ts1 - first font smaller than normal</li>
//  <li>.ts2 - second font smaller than normal</li>
//  <li>.ts3 - smallest font</li>
// </ul>
//
// Markup:
// <div>
//  <p class="tb3">This is a font size</p>
//  <p class="tb1">This is a font size</p>
//  <p class="ts1">This is a font size</p>
//  <p class="ts3">This is a font size</p>
// </div>
//
//
// Styleguide Fonts.size

// Source: http://type-scale.com/
.tb5, .th0 { // is bigger than h1, therefore th0
  font-size: 3.998em !important;
}
.tb4, .th1 {
  font-size: 2.827em !important;
}
.tb3, .th2 {
  font-size: 1.999em !important;
}
.tb2, .th3 {
  font-size: 1.414em !important;
}
.tb1, .th4 {
  font-size: 1.2em !important;
}
.tb0, .ts0, .th5 {
  font-size: 1em !important;
}
.ts1, .th6 {
  font-size: 0.707em !important;
}
.ts2 {
  font-size: 0.5em !important;
}
.ts3 {
  font-size: 0.354em !important;
}

// Quick fontsizes
//
// <ul>
// <li>.smaller: makes the font slightly smaller</li>
// <li>.bigger: makes the font slightly bigger</li>
// </ul>
//
// Markup:
// <p>Text that holds <span class="smaller">some smaller text</span> inside of it</p>
// <p>Text that holds <span class="bigger">some bigger text</span> inside of it</p>
//
// Styleguide Fonts.sizequick
.smaller {
  @extend .ts1;
}
.bigger {
  @extend .tb1; 
}

// Font effects
//
// <ul>
// <li>.thin: makes the fontweight 100</li>
// <li>.light: makes the fontweight 300</li>
// <li>.bold: makes the fontweight bold</li>
// <li>.note: makes font smaller and cursive</li>
// <li>.lowercase: makes text all lowercase</li>
// <li>.uppercase: makes text all caps</li>
// <li>.capitalize: capitalizes text</li>
// </ul>
//
// Markup:
// <p class="text">Text that holds <span class="thin">very thin text</span> inside of it</p>
// <p class="text">Text that holds <span class="light">Quite thin text</span> inside of it</p>
// <p class="text">Text that holds <span class="note">Some sort of note</span> inside of it</span></p>
//
// Styleguide Fonts.effects
.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase !important;
}
.capitalize {
  text-transform: capitalize !important;
}
.lowercase {
  text-transform: lowercase !important;
}
.note {
  @extend .smaller;
  font-style: italic;
}


// // NOTE: browsers user agent stylesheets are not the same.
// // these styles are based on Chrome's User Agent Stylesheet

// // NOTE: Chrome's User Agent Stylesheet shows differences in heading styles
// // depending on its parent element. E.g. headings in nav and main are different.

// // Chrome fonts
// //
// // Chrome UserAgents (default stylesheets) fonts
// // <ul>
// // <li>.h1: adapts the style of the h1 element of chrome</li>
// // <li>.h3: adapts the style of the h3 element of chrome</li>
// // <li>.h5: adapts the style of the h5 element of chrome</li>
// // </ul>
// // <ul>
// // <li>.h1-size: takes the default size of the h1 element of chrome</li>
// // <li>.h2-size: takes the default size of the h2 element of chrome</li>
// // <li>.h4-size: takes the default size of the h4 element of chrome</li>
// // </ul>
// //
// // Markup:
// // <main>
// // <h1>This is a heading</h1>
// // <span class="h1">This is a span with the same styles</span>
// // </main>
// //
// // Styleguide Fonts.zchromeFonts
// .h1, .h2, .h3, .h4, .h5 {
//   display: block;
//   font-weight: bold;
// }
// .h1 {
//   @extend .h1-size;
//   margin-top: 0.67em;
//   margin-bottom: 0.67em;
// }
// .h2 {
//   @extend .h2-size;
//   margin-top: 0.83em;
//   margin-bottom: 0.83em;
// }
// .h3 {
//   @extend .h3-size;
//   margin-top: 1em;
//   margin-bottom: 1em;
// }
// .h4 {
//   @extend .h4-size;
//   margin-top: 1.33em;
//   margin-bottom: 1.33em;
// }
// .h5 {
//   @extend .h5-size;
//   margin-top: 1.67em;
//   margin-bottom: 1.67em;
// }
// .h6 {
//   @extend .h6-size;
//   margin-top: 2.33em;
//   margin-bottom: 2.33em;
// }
// .h1-size {
//   font-size: 2em;
// }
// .h2-size {
//   font-size: 1.5em;
// }
// .h3-size {
//   font-size: 1.17em;
// }
// .h4-size {
//   font-size: 1em;
// }
// .h5-size {
//   font-size: 0.83em;
// }
// .h6-size {
//   font-size: 0.67em;
// }
