// if the input is being used as a button, skip the padding.
@mixin input() {
    &[type=text], &[type=email], &[type=number] {
        padding: 8px;
    }
    &[type=button], &[type=submit], &[type=reset]  {
        @include button();
    }
}
.input {
    @include input();
}

// makes an input field look like a regular text field
@mixin contenteditable(){
    border: none;
    outline: none;
    background-color: transparent;
}
.contenteditable {
    @include contenteditable();
}