@import '_normalize';
@import 'itl-utility_classes';

// Override default browser behaviour for elements -- also css reset

// @override the default font sizes;
// @add border-box to all elements;
// @include the custom styles to default;
html, body {
  @include text();
  margin: 0px;
  padding: 0px;
  
  @include color(black);
  @include bgColor(white);
}
h1, h2, h3, h4, h5, h6 {
  @include title();
}

h1 { @include th(1); }
h2 { @include th(2); }
h3 { @include th(3); }
h4 { @include th(4); }
h5 { @include th(5); }
h6 { @include th(6); }

nav ul { @include list(); }
a { @include link(); }

button { @include button(); }
input { @include input(); }
table { @include table(); }

* {
    box-sizing: border-box;
} 
